{{define "head"}}
<script src="{{.sitepath}}static/js/copy-link.js"></script>
{{end}}

{{define "content"}}
<main class="cp-main cp-main_screen cp-main_center">
    <div class="cp-content-block">
        <div class="file-display-container">
            <p class="file-display-name">
                <a id="download-link" href="{{.sitepath}}{{.download}}">{{.filename}}</a>
            </p>
            <p class="file-display-size">{{.size}}</p>
            <div class="file-display-actions">
                <a href="{{.sitepath}}{{.download}}" class="download-btn">Download</a>
                <button class="copy-btn">Copy Link</button>
            </div>
            {{if ne .expiry "never expires"}}
            <p class="file-display-expiry">Link is valid for {{.expiry}}</p>
            {{end}}
        </div>
    </div>
</main>
{{end}}

{{define "templates/display/file.html"}}
{{template "templates/linx-minx.html" .}}
{{end}}
