{{define "head"}}{{end}}

{{define "content"}}
<main class="cp-main cp-main_screen cp-main_center">
    <div class="cp-content-block">
        <div style="text-align: center; padding: 20px;">
            <h2 style="font-size: 28px; margin-bottom: 20px;">Internal Service</h2>
            <p style="font-size: 18px; line-height: 1.8; color: #666; max-width: 600px; margin: 0 auto;">File uploads to the service are only allowed <b>from internal addresses</b></p>
        </div>
    </div>
</main>
{{end}}

{{define "templates/403.html"}}
{{template "templates/linx-minx.html" .}}
{{end}}
