{{define "templates/linx-minx.html"}}
<!DOCTYPE html>
<html>
<head>
    <title>{{if .filename}}{{.siteName}} - {{.filename}}{{else}}{{.siteName}}{{end}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0055a2">
    <link rel="stylesheet" href="{{.sitepath}}static/css/linx-minx-simple.css">
    <link rel="icon" href="{{.sitepath}}static/images/favicon.svg" type="image/svg+xml">
    {{block "head" .}}{{end}}
</head>
<body>
	<div class="cp-wrapper">
		{{block "content" .}}{{end}}
	</div>
</body>
</html>
{{end}}

